include ./parts/feature-tile

section#s-featured
    .container
        .featured-wall
            h2.title-secondary.weight-300 Рекомендуемые
            .featured-wall__content
                +featureTile(1)
                +featureTile(2)
                +featureTile(3)
                +featureTile(4)
            .featured-wall__show-more
                button(type="button").btn-large.color-blue.border-blue Показать еще
