section#s-about
    .container
        .about
            .about__content
                h2.title-secondary
                    span НЕМНОГО О<br>
                    span.color-blue WELL KNOWN AGENCY
                p.text Наша команда сформирована из лучших IT, Pr и юридических экспертов по защите деловой репутации. <br><br> Мы знаем техническую, маркетинговую и юридическую стороны защиты репутации и имеем многолетний опыт в удалении негатива и создании позитивного образа наших клиентов в сети интернет компании.
            .about__image
                img(src="./static/img/girl.png", alt="Девушка")