section#s-about
    .container
        .about
            .about__image
                img(src="./static/img/about.jpg", alt="Лайф-коуч")
                .about__image-subscribtion Анастасия Нявчук, сертифицированный лайф-коуч
            .about__content
                h2.title-secondary Я уверена, что смогу помочь тебе потому что:
                ul.list
                    li Мои знания и навыки позволяют точно определить, кому нужны медитативные практики, а кому - метафорические техники
                    li Я самостоятельно занимаюсь бизнесом, а значит, у меня есть реальный опыт, которым я могу поделится
                    li Я на собственном примере доказываю, что совмещать семью, карьеру и личностное развитие реально
                .about__certificate
                    img(src="./static/img/certificate.png", alt="Сертификат")
