<<<<<<< HEAD
mixin feature(icon, title, text)
    .feature
        .feature__icon
            img(src="./img/" + icon + ".svg", alt="")
        h4.title-quaternary=title
        p=text

section#s-about.bg-white
    .container
        .about
            h2.about__title Продажа медицинского оборудования и мебели по низким ценам
            p Мы, ТОО "Medical Store", специализируемся на оптово-розничной продаже диагностического оборудования для медицинской и ветеринарной промышленности. Являемся официальными представителями большинства Немецких, Корейских, Российских и других заводов-производителей.
            p Мы, ТОО "Medical Store", специализируемся на оптово-розничной продаже диагностического оборудования для медицинской и ветеринарной промышленности. Являемся официальными представителями большинства Немецких, Корейских, Российских и других заводов-производителей.
        .features
            +feature('car', 'ДОСТАВКА ПО ВСЕМУ КАЗАХСТАНУ!', 'Осуществляем бесплатную доставку по Алматы, при заказе от 100 000 тг. Отправляем в регионы через транспортные компании.')
            +feature('warranty', 'ГАРАНТИЯ НА ПРОДУКЦИЮ!', 'Мы предоставляем гарантию на поставляемое оборудование, а также осуществляем любое сервисное обслуживание соответственно условиям договора.')
            +feature('sale', 'СКИДКИ ОПТОВЫМ ПОКУПАТЕЛЯМ!', 'Предоставляем скидки от объема а также торгующим клиентам.')
        .callback
            h2.callback__title Магазин всей необходимой медтехники в Казахстане, сэкономим для Вас до <span class="color-pink">30%</span> бюджета.
            p Затрудняетесь в выборе необходимого медицинского оборудования? Звоните, мы подберем оптимальное решение для работы клиники.
            a(href="").callback__phone +7-800-555-35-35
            p Или
            button(type="button").btn-medium.bg-pink-main Оставить заявку
            
=======
section#s-about
    .container
        .about
            .about__content
                h2.title-secondary
                    span НЕМНОГО О<br>
                    span.color-blue WELL KNOWN AGENCY
                p.text Наша команда сформирована из лучших IT, Pr и юридических экспертов по защите деловой репутации. <br><br> Мы знаем техническую, маркетинговую и юридическую стороны защиты репутации и имеем многолетний опыт в удалении негатива и создании позитивного образа наших клиентов в сети интернет компании.
            .about__image
                img(src="./static/img/girl.png", alt="Девушка")
>>>>>>> parent of d292c08... clean
