section#s-banner
    .container
        .banner
<<<<<<< HEAD
            h1.banner__title Медицинское оборудование, мебель в Алматы и Казахстане
            p.banner__text Сейчас на нашем складе в Алматы <span class="text-underline">27 763 единиц товара</span> по низким ценам
=======
            h1.title-primary.color-blue WELL KNOWN AGENCY
            h2.title-secondary ЗАЩИТА РЕПУТАЦИИ В СЕТИ ИНТЕРНЕТ
            p.banner__text Агентство полного цикла по защите вашей репутации
            button.button-medium.button_blue-border(type="button") Заказать услугу
            a(href="#" data-section="s-services").banner__arrow-down
                img(src="./static/img/svg/arrow-down.svg", alt="Стрелка вниз")
>>>>>>> parent of d292c08... clean
