section#s-banner
    .container
        .banner
            .banner
                .banner__content
                    h1.title-primary Боишься показать себя миру?
                    ul.banner__list
                        li Убедись, что твои идеи важны
                        li Докажи себе и всем, что твой голос и твои мысли имеют значение
                        li Найди внутренние ресурсы для реализации своих идей
                    .banner__subtitle 
                        p Тебе настолько важно, что скажут другие, что ты предпочитаешь молчать?
                    button(type="button" data-action="send-request" data-modal).button-medium.button-orange Начать действовать

                .banner__image
                    img(src="./static/img/banner-img.jpg", alt="Анастасия")
                .banner__about 
                    img(src="./static/img/svg/banner-about.svg", alt="Слоган")
