.filter
    .filter__title Фильтр
    .filter-drops-wrap
        .filter-drop
            .filter-drop__header 
                span Производитель
                svg.caret 
                    use(xlink:href="./img/sprites.svg#caret")
            .filter-drop__content-wrap
        .filter-drop
            .filter-drop__header 
                span Производитель
                svg.caret 
                    use(xlink:href="./img/sprites.svg#caret")
            .filter-drop__content-wrap
                .filter-drop__content
                    label.checkbox
                        input(type="checkbox")
                        .checkbox__box
                        .checkbox__text AMD
                    label.checkbox
                        input(type="checkbox")
                        .checkbox__box
                        .checkbox__text Intel
                    label.checkbox
                        input(type="checkbox")
                        .checkbox__box
                        .checkbox__text MacDonalds
                    label.checkbox
                        input(type="checkbox")
                        .checkbox__box
                        .checkbox__text Tesla
                    label.checkbox
                        input(type="checkbox")
                        .checkbox__box
                        .checkbox__text SpaceX
                    label.checkbox
                        input(type="checkbox")
                        .checkbox__box
                        .checkbox__text American Techno Electrokc
                .filter-drop__show-more.active
                    span Только популярные
                    svg.caret 
                        use(xlink:href="./img/sprites.svg#arrow-down")
        .filter-drop
            .filter-drop__header 
                span Цена
                svg.caret 
                    use(xlink:href="./img/sprites.svg#caret")
            .filter-price
                .filter-price__row
                    span от
                    input(type="text")
                    span до
                    input(type="text")
                .price-calculator
        .filter-drop
            .filter-drop__header 
                span Цены на бензин
                svg.caret 
                    use(xlink:href="./img/sprites.svg#caret")
        .filter-drop
            .filter-drop__header 
                span Диаметр
                svg.caret 
                    use(xlink:href="./img/sprites.svg#caret")
        .filter-drop
            .filter-drop__header 
                span Тип шизы
                svg.caret 
                    use(xlink:href="./img/sprites.svg#caret")
        .filter-drop
            .filter-drop__header 
                span Производитель
                svg.caret 
                    use(xlink:href="./img/sprites.svg#caret")
            .filter-drop__content-wrap
                .filter-drop__content
                    label.checkbox
                        input(type="checkbox")
                        .checkbox__box
                        .checkbox__text AMD
                    label.checkbox
                        input(type="checkbox")
                        .checkbox__box
                        .checkbox__text Intel
                    label.checkbox
                        input(type="checkbox")
                        .checkbox__box
                        .checkbox__text MacDonalds
                    label.checkbox
                        input(type="checkbox")
                        .checkbox__box
                        .checkbox__text Tesla
                    label.checkbox
                        input(type="checkbox")
                        .checkbox__box
                        .checkbox__text SpaceX
                    label.checkbox
                        input(type="checkbox")
                        .checkbox__box
                        .checkbox__text American Techno Electrokc
                .filter-drop__show-more.active
                    span Только популярные
                    svg.caret 
                        use(xlink:href="./img/sprites.svg#arrow-down")
    .filter__submit
        button(type="button").btn-small.bg-pink-main Подобрать
        button(type="button").btn-medium Сбросить
