footer#footer
    .container
        .footer
            .footer__description 
                .footer__center
                    h3.font-bold.footer__name ICOACH.
                    p.text Продюсерский центр для тренеров, коучей и экспертов.
                .footer__create Упакуем продукт и создадим стабильный и управляемый поток целевых клиентов, пока вы будете заниматься другими делами.
            ul.footer-menu
                li 
                    a.footer-menu__item Главная
                li 
                    a.footer-menu__item О компании
                li 
                    a.footer-menu__item Отзывы
                li 
                    a.footer-menu__item Условия использования
                li 
                    a.footer-menu__item Договор
                li 
                    a.footer-menu__item Коммерческое предложение
                li 
                    a.footer-menu__item Каталог продуктов
            .footer__contacts
                .font-bold Служба поддержки клиентов
                .red.footer__contacts-mail mail@icoach.ge
                div +7 499 112 47 33
                div +44 20 8089 2847
                .rights Все права защищены.
