footer#s-footer
    .container
        .footer
            .footer__row
                .logo Anastasiya Nyavchuk
                ul.footer__socials
                    li
                        a(href="mailto:anastasiia.niavchuk@gmail.com") anastasiia.niavchuk@gmail.com
                    li
                        a(href="tel:+380954890840") +38 095 489 08 40
                    li
                        a Facebook
                    li
                        a Instagram
            .footer__row
                ul.footer__info
                    li
                        a Политика конфиденциальности
                    li
                        a Договор оферты