footer#s-footer
    .container
        .footer
<<<<<<< HEAD
<<<<<<< HEAD
            .footer-menus
                ul.footer-menu.color-blue
                    li
                        a(href="") О компании
                    li
                        a(href="") Документы
                    li
                        a(href="") Контакты
                    li
                        a(href="") Политика конфиденциальности
                    li
                        a(href="") Пользовательское соглашение
                ul.footer-menu.color-gray-300
                    li
                        a(href="") Оборудование
                    li
                        a(href="") Мебель
                    li
                        a(href="") Лабороторная мебель
                    li
                        a(href="") Лабороторное оборудование
                    li
                        a(href="") Новости
                    li
                        a(href="") Статьи
                ul.footer-menu.color-gray-300
                    li
                        a(href="") Оплата
                    li
                        a(href="") Калькулятор доставки
                    li
                        a(href="") Доставка
                    li
                        a(href="") Статус доставки груза
                    li
                        a(href="") Путь к успешной доставке груза
                    li
                        a(href="") Памятка экспедитору
                ul.footer-menu.color-blue
                    li
                        a(href="") Производители
                    li
                        a(href="") КП прямо с сайта
                    li
                        a(href="") Cкидки в открытом доступе
                    li
                        a(href="") Часто задаваемые вопросы
                    li
                        a(href="") Оформление претензий
            .footer-shipping Быстро доставим в города: <span class="color-pink text-underline">Алматы, Улан-Батон, Алматы, Улан-Батон, Алматы, Улан-Батон, Алматы, Улан-Батон. Алматы, Улан-Батон, Алматы, Улан-Батон, Алматы, Улан-Батон, Алматы, Улан-Батон. Алматы, Улан-Батон, Алматы, Улан-Батон, Алматы, Улан-Батон, Алматы, Улан-Батон</span>
            .footer-links.color-gray-300
                a.footer-links__site.text-underline www.med-lab.com
                a.footer-links__phone +7-800-555-35-35
                .footer-links__socials.text-underline
                    a(href="") facebook
                    a(href="") VK
                    a(href="") twitter
                    a(href="") YouTube
                .footer-links__desc МедКомплекс А.В.К. © 1992-2020
            .footer-info.color-gray-300
                p Внимание! Размещение ООО «МедКомплекс «А.В.К.» технических характеристик товаров, макетов и графических копий документов (сертификатов и деклараций о соответствии, свидетельств об утверждении типа средств измерений, регистрационных удостоверений на медицинские изделия и т. д.) носит чисто информационный характер, не является обязательством и не может служить основанием для предъявления претензий.
                p Перед применением необходимо ознакомиться с инструкцией по применению (паспортом изделия) или получить консультацию специалиста.
                p Сайт использует файлы cookie. Они позволяют узнавать Вас и получать информацию о Вашем пользовательском опыте. Это нужно, чтобы улучшать сайт. Когда Вы посещаете страницы сайта, мы обрабатываем Ваши данные.
                p ООО «МедКомплекс «А.В.К.»           107241, г. Москва, Щёлковское шоссе, д. 23А, эт. 1, пом. 1, ком. 12      ОГРН 1027700268298


=======
=======
>>>>>>> parent of d292c08... clean
            .callback
                h2.title-secondary 
                    | ОБРАТНАЯ 
                    span.color-blue СВЯЗЬ
                p.text Оставьте заявку и мы перезвоним вам в течении 10 минут
                .form-callback
                    label.checkbox
                        input(type="checkbox")
                        span.checkbox__box
                        span.checkbox__text Я согласен с <a href="">политикой конциденциальности</a>
                    .form-callback__fields
                        .form-callback__input
                            input.input(type="text" placeholder="Имя")
                        .form-callback__input
                            input.input(type="tel" placeholder="Телефон")
                    input(type="submit", value="Отправить заявку").button-medium.button_blue-border
            .contacts
                h2.title-secondary.color-blue КОНТАКТЫ
                .contacts__content
                    .logo
                        img(src="./static/img/svg/logo.svg", alt="Логотип")
                    ul.menu-footer
                        li
                            a(href="tel:+84997146941").menu-footer__link 
                                img(src="./static/img/svg/phone.svg", alt="Телефон")
                                span 8 (499) 714-69-41
                        li
                            a(href="mailto:info@renomes.com").menu-footer__link
                                img(src="./static/img/svg/email.svg", alt="Сообщение")
                                span info@renomes.com
<<<<<<< HEAD
                        
>>>>>>> parent of d292c08... clean
=======
                        
>>>>>>> parent of d292c08... clean
