footer#s-footer
    .container
        .footer
            .callback
                h2.title-secondary 
                    | ОБРАТНАЯ 
                    span.color-blue СВЯЗЬ
                p.text Оставьте заявку и мы перезвоним вам в течении 10 минут
                .form-callback
                    label.checkbox
                        input(type="checkbox")
                        span.checkbox__box
                        span.checkbox__text Я согласен с <a href="">политикой конциденциальности</a>
                    .form-callback__fields
                        .form-callback__input
                            input.input(type="text" placeholder="Имя")
                        .form-callback__input
                            input.input(type="tel" placeholder="Телефон")
                    input(type="submit", value="Отправить заявку").button-medium.button_blue-border
            .contacts
                h2.title-secondary.color-blue КОНТАКТЫ
                .contacts__content
                    .logo
                        img(src="./static/img/svg/logo.svg", alt="Логотип")
                    ul.menu-footer
                        li
                            a(href="tel:+84997146941").menu-footer__link 
                                img(src="./static/img/svg/phone.svg", alt="Телефон")
                                span 8 (499) 714-69-41
                        li
                            a(href="mailto:info@renomes.com").menu-footer__link
                                img(src="./static/img/svg/email.svg", alt="Сообщение")
                                span info@renomes.com
                        