.form
    .form__content
        .form__title Хватит сомневаться - <span class="underline">действуй!</span>
        .form__fields
            .form__input
                input(type="text" placeholder="Имя").input
            .form__input
                input(type="tel" placeholder="+380(__)___-__-__" data-mask="phone").input
            .form__input
                input(type="email" placeholder="ivan@ivanov.com").input
        input(type="submit" value="Оставить заявку").form__submit.button-medium.button-orange
        p.form__terms Нажимая на кнопку, я соглашаюсь с <a href="#">Политикой конфиденциальности</a>