header#s-header
    .container
        nav.navigation#nav
            .logo
                img(src="./static/img/svg/logo.svg", alt="Логотип")
            ul.menu-socials
                li
                    a(href="mailto:info@renomes.com").menu-socials__link
                        img(src="./static/img/svg/email.svg", alt="Сообщение")
                        span info@renomes.com
                li
                    a(href="tel:+84997146941").menu-socials__link
                        img(src="./static/img/svg/phone.svg", alt="Телефон")
                        span 8 (499) 714-69-41
            button(type="button").hamb.show-mobile#toggle-menu
                span
                span
                span

aside.aside#menu-main
    .aside__title.show-mobile Меню
    ul.menu-aside
        li
            a(href="#" data-section="s-footer") Контакты
        li
            a(href="#" data-section="s-services") Услуги
        li
            a(href="#" data-section="s-about") О нас
        li
            a(href="#" data-section="s-banner").active Главная
    ul.menu-socials-mobile.show-mobile
        li
            a(href="mailto:info@renomes.com").menu-socials-mobile__link
                img(src="./static/img/svg/email.svg", alt="Сообщение")
                span info@renomes.com
        li
            a(href="tel:+84997146941").menu-socials-mobile__link
                img(src="./static/img/svg/phone.svg", alt="Телефон")
                span 8 (499) 714-69-41
        
