header#header
    .container
        nav.navigation
            .logo
                img(src="static/img/logo.png", alt="Icoach")
            ul.menu-main
                li
                    a.menu-main__link(href="#").font-18 Кейсы
                li
                    a.menu-main__link(href="#").font-18 Партнерство
                li
                    a.menu-main__link(href="#").font-18 Гарантия
                li
                    a.menu-main__link(href="#").font-18 Разработка стратегии
                li
                    a.menu-main__link(href="#").font-18 Отзывы
            .navigation__phones.font-18.color-white
                a(href="#") +7 499 112 47 33
                a(href="#") +44 20 8089 2847