header#s-header
    .container
        nav.nav
            .logo Anastasiya Nyavchuk
            ul.nav__menu
                li 
                    a Instagram
                li 
                    a Facebook
