section#s-plan
    .container
        .plan
            .plan__row
                h2.title-secondary Начни жизнь на полную!
            .plan__row
                .plan__subtitle 
                    p Действуй без оглядки на мнение других, иди своим собственным путем
                .steps
                    .step
                        .step__number 01
                        p.step__text Признай, что ты нуждаешься в переменах сегодня, чтобы построить свое личное “завтра”
                    .step
                        .step__number 02
                        p.step__text Решись на то, чтобы принять мою помощь
                    .step
                        .step__number 03
                        p.step__text Получи выбранную услугу, которая подойдет лично тебе
            .plan__row
                h2.plan__title-main Сделай первый шаг на пути к новой жизни!
                .packet
                    .packet__content
                        h3.packet__title Пакет “Старт”
                        .packet__list
                            .packet__list-item
                                h4.packet__list-title Стратегическая online  сессия
                                p.packet__list-text Online встреча с коучем тет-а-тет, на которой ты детально проработаешь твои сомнения, определишь их причины и выработаешь эффективный план выхода из сложившейся ситуации. Сессия длится до 2 часов, а ее результаты ты почувствуешь сразу, поскольку Коуч поможет тебе выявить твои слабые места и проработать единственно верную стратегию развития.
                            .packet__list-item
                                h4.packet__list-title Закрытая группа
                                p.packet__list-text Тебя добавят в закрытый чат, где ты найдешь общение с людьми, которые столкнулись с теми же трудностями. Тут ты сможешь задать вопрос своему коучу и/или прочитать её ответы на вопросы других участников.
                        .packet__price 200 $
                        button(type="button").button-medium.button-orange Оставить заявку

