section#s-services
    .container
        .services-wrap
            .services
                .services-about
                    h2.title-secondary 
                        span НАШИ 
                        span.color-blue УСЛУГИ
                    p.text Сначала мы работаем с вашей репутацией, потом репутация наботает на вас
                .services-item
                    .services-item__overlay(style="background-image: url('./static/img/service-1.png')")
                        h3.title-tertiary
                            span.color-blue Удаление 
                            span информации<br> из интернета
                    .services-item__content
                        h3.title-tertiary
                            span.color-blue Удаление 
                            span информации<br> из интернета
                        ul.list
                            li Удаление статей, фото или видео материалов на сайтах с компроматом, в социальных сети, online СМИ, прочие сайты)
                            li Выдавливание негативных материалов с первых страниц поисковой выдачи
                            li Удаление негативных поисковых подсказок (Яндекс/Google)
                            li Формирование бизнес-ориентированных поисковых подсказок (Яндекс/Google)
                            li Блокировка нелегальных ресурсов, которые незаконно используют интеллектуальную собственность правообладателей
                            li Блокировка группу и аккаунтов в социальных сетях
                            li Удаление материалов в судебном порядке
                            li Удаление негативных отзывов о компании
                        
                .services-item
                    .services-item__overlay(style="background-image: url('./static/img/service-2.png')")
                        h3.title-tertiary
                            span.color-blue Размещение 
                            | и 
                            span.color-blue продвижение 
                            | материалов в сети Интернет
                    .services-item__content
                        h3.title-tertiary
                            span.color-blue Размещение 
                            | и 
                            span.color-blue продвижение 
                            | материалов в сети Интернет
                        ul.list
                            li Написание целевых публикаций и размещение на информационных ресурсах
                            li Написание статей с биографией и размещение на целевых площадках
                            li Создание и наполнение аккаунтов в социальных сетях
                            li Продвижение позитивных материалов в ТОП поисковой выдачи
                            li Создание персонального сайта
                .services-item
                    .services-item__overlay(style="background-image: url('./static/img/service-3.png')")
                        h3.title-tertiary
                            span.color-blue Wikipedia
                    .services-item__content
                        h3.title-tertiary
                            span.color-blue Wikipedia
                        ul.list
                            li Написание и размещение новых статей в русскоязычной и международной версиях сайта
                            li Редактирование существующих статей
                            li Проставление ссылок и сносок в существующих статьях
                            li Исправление и замена устаревших ссылок
                    
