mixin sidebarItem(title, items)
    .sidebar-item
        .sidebar-item__title=title
        ul.sidebar-item__list
            each item in items
                li
                    a=item

.sidebar
    +sidebarItem('Влажные салфетки',[
        'Влажные  салфетки в индивидуальной упаковке со стандартным дизайном',
        'Специализированные влажные салфетки',
        'Влажные салфетки в упаковке «флоу-пак» ',
        'Влажные салфетки в боксе',
        'Влажные салфетки в индивидуальной упаковке с логотипом'
    ])
    +sidebarItem('Наборы одноразовых приборов',[
        'Готовые наборы одноразовых приборов',
        'Наборы одноразовых приборов под заказ'
    ])
    +sidebarItem('Сахар в стиках',[
        'Сахар в стиках со стандартным дизайном',
        'Сахар в стиках в боксе',
        'Сахар в стиках с логотипом'
    ])
    +sidebarItem('Картонная продукция',[
        'Ланч-боксы',
        'Подарочные коробки',
        'Картонные коробки на заказ'
    ])
    +sidebarItem('Одноразовая посуда',[
        'Одноразовые столовые приборы',
        'Бумажные салфетки',
        'Зубочистки'
    ])
    +sidebarItem('Продукция с логотипом',[
        'Влажная салфетка в индивидуальной упаковке',
        'Сахар в стиках',
        'Наборы одноразовых приборов',
        'Магниты'
    ])
