section#s-start
    .container
        .start
            .start__image
                img(src="./static/img/start.jpg", alt="Анастасия")
            .start__content
                .start__title-wrap
                    h2.title-secondary Перестань просто наблюдать и начни действовать
                    .start__subtitle
                        p Почему твоя жизнь идет не так, как тебе хочется?
                ul.list
                    li Обрети обоснованную уверенность в своих силах
                    li Перейди от планирования к реализации
                    li Стань уверенным в себе, без опаски показаться смешным или глупым
                    li Выработай навыки объективной внутренней оценки своего Я
                    li Найди единомышленников и обрети поддержку
                    li Перестань тратить свою жизнь на бессмысленные задачи и найди свой истинный путь
        
section#s-learn
    .container
        .learn
            .learn__content
                h2.title-secondary Научись быть тем, кто вызывает восхищение в любой сфере деятельности
                ul.list
                    li Уверенно формулировать и излагать свои мысли
                    li Легко находить выход из сложных  ситуаций
                    li Быть в гармонии с теми, кто тебя окружает
                    li Реализовывать свои проекты
                    li Получать удовольствие от новых жизненных вызовов
                .learn__about
                    p Найди свой собственный путь к уверенности!
            .learn__image
                img(src="./static/img/learn.jpg", alt="Анастасия")



