section#s-subscribe
    .container
        .subscribe
            h2.subscribe__title Подпишитесь на рассылку
            .subscribe__input
                input(type="email" placeholder="Ваш E-mail")
                .subscribe__input-description Мы будем отправлять Вам лучшие предложения.
            input(type="submit", value="Подписаться").btn-medium.bg-pink-main