
section#s-testimonials
    .container
        .testimonials
            h2.title-secondary Они уже изменили свою жизнь
            .testimonials__content
                .testimonial
                    .testimonial__text 
                        p Хочу поделиться своими личными инсайтами, которые я получала во время коуч-сессии с Анастасией. За маленький промежуток времени (5 коуч-сессий), благодаря действительно результативным техникам, которые практикует Настя, у меня вышло пробудиться в прямом смысле и сделать действия к моим желаниям, и даже получить результат. 
                        p.break &#160;
                        p Мой главный инсайт: делать запросы вселенной, проговаривать и главное в мыслях прорисовывать свои желания, и они подтянутся к вам. 
                        p.break &#160;
                        p На второй коуч-сессии Настя погрузила меня в мысли о возможностях реализации моих навыков и уже через неделю я ПОЛУЧИЛА бизнес предложение от хорошей знакомой, плюс ко мне пришла конкретная идея своего агентства, и подтянулись новые знакомства и люди которые мне для этого нужны.
                        p.break &#160;
                        p Я задала себе самые важные вопросы, от которых обычно убегала.
                        p.break &#160;
                        p Искренне рекомендую проработать свои запросы с Настей, так как её профессиональные навыки коуча и личностные качества, дают двойной эффект в понимании самого себя.
                    .testimonial__content
                        .testimonial__info
                            .testimonial__photo
                                img(src="./static/img/testimonial_1.png", alt="Фото клиента")
                            .testimonial__bio
                                .tesimonial__name Юлия Выговская
                                .testimonial__age 23 года
                        .testimonial__social
                            a(href="") Facebook
                            a(href="") Instagram
                .testimonial
                    .testimonial__text 
                        p Моя проблема заключалась в том, что я не могла понять, какие сдерживающие факторы
                        p.break &#160;
                        p мешают мне добиться, желаемых результатов! Во время сессии, были найдены, те стопы, о которых я даже не догадывалась. Проработаны и благодаря метафорической истории "болото", которая мотивирует действовать и не останавливаться, я стремительно, развиваюсь, реализовываю свои цели, ставлю новые! Мои родные и близкие, становятся моей поддержкой!)
                        p.break &#160;
                        p Очень круто!
                    .testimonial__content
                        .testimonial__info
                            .testimonial__photo
                                img(src="./static/img/testimonial_3.png", alt="Фото клиента")
                            .testimonial__bio
                                .tesimonial__name Рита
                                .testimonial__age 33 года
                        .testimonial__social
                            a(href="") Facebook
                            a(href="") Instagram
                .testimonial
                    .testimonial__text 
                        p Очень долго не решалась на коуч-сессию, сомневалась, что это мне даст, что изменит, но уже после второй сессии подумала, почему я не сделала этого раньше). С каждой сессией я становилась более уверенная в себе, разобралась в своих желаниях, научилась преодолевать страх. Мне очень нравится стиль общения и то, что ответы на вопросы я нахожу сама. Никто не подталкивает к правильному ответу, супер для меня было также то, что я смогла посмотреть на ситуацию со стороны совсем другим взглядом. Настя очень положительный, добрый человек. Также хочу поблагодарить за теплую и доверительную атмосферу во время сессий. Я очень рада, что в моей жизни появился коуч и я не побоялась сделать вызов самой себе, многое, конечно же, зависит от меня, но благодаря коучу у меня появилась внутренняя уверенность и сила. Я понимаю, что двигаюсь в правильном направлении!
                    .testimonial__content
                        .testimonial__info
                            .testimonial__photo
                                img(src="./static/img/testimonial_2.png", alt="Фото клиента")
                            .testimonial__bio
                                .tesimonial__name Марианна
                                .testimonial__age 34 года
                        .testimonial__social
                            a(href="") Facebook
                            a(href="") Instagram
                
                .testimonial
                    .testimonial__text 
                        p Профилем Анастасии в Instagram я интересовалась давно, но даже мысли, что мне понадобится работа с коучем, не появлялось, до тех пор, пока я месяц назад не переехала в США. Мне казалось, что после переезда я сразу сделаю большой рывок, начну развиваться и постигать интересные сферы. А на деле, пришла затяжная апатия и нежелание делать даже то, что раньше приносило массу удовольствия.
                        p.break &#160;
                        p При помощи, казалось бы, простого дружеского диалога и нестандартных техник, я снова
                        p.break &#160;
                        p смогла прийти к себе и начала развиваться и двигаться в правильном направлении дальше. Что меня поразило больше всего, так это то, что Анастасия не даёт советы и не учит, как правильно жить. Она просто сопровождает тебя на пути поиска, помогает обратить внимание на скрытый потенциал, сильные стороны и истинные желания. Я невероятно счастлива, что решилась на Коуч-сессию!
                    .testimonial__content
                        .testimonial__info
                            .testimonial__photo
                                img(src="./static/img/testimonial_4.png", alt="Фото клиента")
                            .testimonial__bio
                                .tesimonial__name Елена
                                .testimonial__age 22 года
                        .testimonial__social
                            a(href="") Facebook
                            a(href="") Instagram
        include ../blocks/form

