.header-top-wrap
    .container
        .header-top
            ul.top-menu
                li
                    a(href="") О компании
                li
                    a(href="") Доставка
                li
                    a(href="") Оплата
                li
                    a(href="") Документы
                li
                    a(href="") Контакты
                li
                    a(href="") Поставщикам
            .top-contacts
                a(href="").top-contacts__phone 
                    svg
                        use(xlink:href="./img/sprites.svg#phone")
                    span +7-800-555-35-35
                button(type="button").top-contacts__callback Обратный звонок
            .top-user
                svg.top-user__icon
                    use(xlink:href="./img/sprites.svg#user")
                button(type="button").top-user__button Вход
                button(type="button").top-user__button Регистрация