.menu-main-wrap
    .container
        ul.menu-main
            li
                a(href="").menu-main__link
                    span Влажные салфетки
                    svg
                        use(xlink:href="./img/sprites.svg#arrow-down")
            li
                a(href="").menu-main__link
                    span Наборы одноразовых приборов
                    svg
                        use(xlink:href="./img/sprites.svg#arrow-down")
            li
                a(href="").menu-main__link
                    span Сахар в стиках
                    svg
                        use(xlink:href="./img/sprites.svg#arrow-down")
            li
                a(href="").menu-main__link
                    span Картонная продукция
                    svg
                        use(xlink:href="./img/sprites.svg#arrow-down")
            li
                a(href="").menu-main__link
                    span Одноразовая посуда
                    svg
                        use(xlink:href="./img/sprites.svg#arrow-down")
            li
                a(href="").menu-main__link
                    span Продукция с логотипом
                    svg
                        use(xlink:href="./img/sprites.svg#arrow-down")
