node_modules

# Created by https://www.gitignore.io/api/windows
# Edit at https://www.gitignore.io/?templates=windows

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.gitignore.io/api/windows
build/index.html
src/pug/blocks/about.pug
src/pug/blocks/banner.pug
src/pug/blocks/footer.pug
src/pug/pages/home.pug
src/static/js/main.js
src/static/sass/modules/about.scss
src/static/sass/modules/banner.scss
src/static/sass/modules/footer.scss
src/static/sass/pages/home.sass
src/static/sass/typography.sass
