.main-menu-wrap{
    background-color: $blue-main;
}

.main-menu{
    display: flex;
    align-items: center;

    & > li{
        position: relative;
        &.active > a{
            background-color: $blue-light;
        }
    }

    &__link{
        padding: 0 20px;
        height: 51px;
        display: flex;
        align-items: center;
        color: $white;
        
        &:hover{
            background-color: $blue-light;
        }
        
        .hamb-menu{
            width: 21px;
            height: 20px;
            margin-right: 8px;
        }
        &--headline{
            white-space: nowrap;
        }
    }
}

.menu-dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;

    width: 100%;

    display: none;

    &__categories{
        width: 284px;
        border-right: 1px solid #c2c2c2;
        & > li{
            &.active > a{
                border-left: 2px solid $pink-main;
                color: $pink-main;
            }
        }
    }

    &__link{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 17px;
        background-color: #FEFEFE;
        position: relative;
        z-index: 10;

        &:hover{
            color: $pink-main;
            svg{
                fill: $pink-main;
            }
        }
    }
}

.menu-category{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 284px;
    width: 1210px;

    background-color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
    &__featured{
        width: 100%;
        max-width: 280px;
        .feature-tile{
            box-shadow: none;
            border: 2px solid $pink-main;
            border-radius: 0;
        }
    }

    &__content{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 14px 14px 14px 20px;

        margin-right: -15px;
        margin-bottom: -28px;
        & > *{
            width: calc(50% - 15px);
            margin-right: 15px;
            margin-bottom: 28px;
        }
    }

    &__title{
        color: #424242;
        margin-bottom: 15px;
    }

    &-list {

        & > *:not(:last-child){
            margin-bottom: 5px;
        }

        a{
            font-size: 15px;
            line-height: 18px;
    
            color: #777777;
        }
        
    }
}