.menu-main-wrap{
    border-top: 2px solid #000000;
    border-bottom: 1px solid #000000;
}

.menu-main{

    display: flex;
    align-items: center;

    & > *:not(:last-child){
        margin-right: 33px;
    }

    &__link{
        padding: 16px 0 18px;
        font-size: 14px;

        svg{
            width: 9px;
            height: 6px;
            vertical-align: middle;
        }
    }

}