#s-header{
    background-color: rgba(202, 192, 210, 0.6);
}

.nav-top{
    padding: 23px 0 16px;
    display: flex;
    align-items: center;

    .logo{
        margin-right: 46px;
    }

    &__menu{
        display: flex;
        align-items: center;

        margin-right: 75px;

        & > *:not(:last-child){
            margin-right: 74px;
        }
        a{
            font-size: 18px;
            font-weight: 500;
        }
    }

    &__contacts{
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        font-weight: 500;

        margin-right: 110px;
    }

    .search{
        margin-left: auto;
    }
}

.search{
    display: flex;

    &__input{
        position: relative;

        input{
            color: rgba(0, 0, 0, 0.47);
            font-size: 14px;
            line-height: 26px;
            background-color: #fff;
            width: 226px;

            padding: 0 20px 0 13px;

            border: 1px solid #000000;

            &::placeholder{
                font-weight: 500;
                font-size: 14px;
                color: rgba(0, 0, 0, 0.47);
            }
        }

    }

    &__icon{
        width: 15px;
        height: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        line-height: 0;
        right: 5px;
    }

    &__button{
        background-color: $violet;
        font-weight: 500;
        font-size: 14px;
        color: #fff;
        padding: 5px 14px;
    }
}

.logo{
    width: 122px;
    min-width: 122px;
    height: 50px;
}