mixin categoryTile(text, number)
    .category-tile
        .category-tile__image
            img(src="./img/dummy.png", alt="")
        h3.title-tertiary=text
        .category-tile__number
            span=number
            span товаров