.featured-wall{
    .title-secondary{
        color: #424242;
        margin-bottom: 33px;
    }

    &__content{
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        margin-right: -34px;
        margin-bottom: -26px;

        & > *{
            width: calc(100%/4 - 34px);
            margin-right: 34px;
            margin-bottom: 26px;
        }
    }

    &__show-more{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 45px;
    }
}


@import './parts/featured-tile.scss';