html
  scroll-behavior: smooth
  font-size: 20px
  font-family: $noah
  color: $black
  line-height: 1.25

body
  background-color: $white
    
*, *::before, *::after
  box-sizing: border-box
    
.container
  width: 100%
  max-width: 1310px
  padding: 0 15px
  margin: 0 auto

form
  margin: 0

body, 
ul,
h1,
h2,
h3,
h4,
h5,
p
  margin: 0 
  padding: 0

ul
  list-style: none
  &>li
    display: block
    padding: 0

a,
button
  display: inline-block
  text-decoration: none
  background: transparent
  color: inherit
  outline: 0
  padding: 0
  &:focus
    outline: 0

a,
button,
[type="submit"]
  cursor: pointer
  transition: all .3s ease
  font-family: $noah
  border: 0

a:hover
  text-decoration: underline

input
  display: inline-block
  outline: 0
  cursor: text

img
  max-width: 100%
  height: auto

.content
  overflow-x: hidden