*,
*::after,
*::before
  box-sizing: border-box

html
  font-size: 14px
  color: $black
  line-height: 1.2
  font-family: $lato

.content
  min-width: 1140px

body
  background-color: #fff
    
.container
  width: 100%
  max-width: 1170px
  margin: 0 auto
  padding: 0 15px

form
  margin: 0

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration,
input[type="search" i]
  -webkit-appearance:none !important


body, 
ul,
h1,
h2,
h3,
h4,
h5,
p
  margin: 0 
  padding: 0

ul
  list-style: none
  &>li
    display: block
    padding: 0

a,
button
  display: inline-block
  text-decoration: none
  background: transparent
  color: inherit
  outline: 0
  padding: 0
  &:focus
    outline: 0

fieldset
  border: 0
  padding: 0
  margin: 0

a,
button,
input[type="submit"]
  cursor: pointer
  transition: all .3s ease
  border: 0
  font-family: $lato

input
  display: inline-block
  outline: 0
  cursor: text
  font-family: $lato

textarea
  font-family: $lato
  resize: vertical
  min-height: 3em

textarea:focus
  box-shadow: none
  outline: none

img
  max-width: 100%
  height: auto

.content
  overflow: hidden