@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/MontserratAlternates-SemiBoldItalic.eot');
    src: local('Montserrat Alternates SemiBold Italic'), local('MontserratAlternates-SemiBoldItalic'),
        url('../fonts/MontserratAlternates-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MontserratAlternates-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/MontserratAlternates-SemiBoldItalic.woff') format('woff'),
        url('../fonts/MontserratAlternates-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/MontserratAlternates-Bold.eot');
    src: local('Montserrat Alternates Bold'), local('MontserratAlternates-Bold'),
        url('../fonts/MontserratAlternates-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MontserratAlternates-Bold.woff2') format('woff2'),
        url('../fonts/MontserratAlternates-Bold.woff') format('woff'),
        url('../fonts/MontserratAlternates-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/MontserratAlternates-SemiBold.eot');
    src: local('Montserrat Alternates SemiBold'), local('MontserratAlternates-SemiBold'),
        url('../fonts/MontserratAlternates-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MontserratAlternates-SemiBold.woff2') format('woff2'),
        url('../fonts/MontserratAlternates-SemiBold.woff') format('woff'),
        url('../fonts/MontserratAlternates-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/MontserratAlternates-Light.eot');
    src: local('Montserrat Alternates Light'), local('MontserratAlternates-Light'),
        url('../fonts/MontserratAlternates-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MontserratAlternates-Light.woff2') format('woff2'),
        url('../fonts/MontserratAlternates-Light.woff') format('woff'),
        url('../fonts/MontserratAlternates-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/MontserratAlternates-Black.eot');
    src: local('Montserrat Alternates Black'), local('MontserratAlternates-Black'),
        url('../fonts/MontserratAlternates-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MontserratAlternates-Black.woff2') format('woff2'),
        url('../fonts/MontserratAlternates-Black.woff') format('woff'),
        url('../fonts/MontserratAlternates-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/MontserratAlternates-BoldItalic.eot');
    src: local('Montserrat Alternates Bold Italic'), local('MontserratAlternates-BoldItalic'),
        url('../fonts/MontserratAlternates-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MontserratAlternates-BoldItalic.woff2') format('woff2'),
        url('../fonts/MontserratAlternates-BoldItalic.woff') format('woff'),
        url('../fonts/MontserratAlternates-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/MontserratAlternates-Thin.eot');
    src: local('Montserrat Alternates Thin'), local('MontserratAlternates-Thin'),
        url('../fonts/MontserratAlternates-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MontserratAlternates-Thin.woff2') format('woff2'),
        url('../fonts/MontserratAlternates-Thin.woff') format('woff'),
        url('../fonts/MontserratAlternates-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/MontserratAlternates-Regular.eot');
    src: local('Montserrat Alternates Regular'), local('MontserratAlternates-Regular'),
        url('../fonts/MontserratAlternates-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MontserratAlternates-Regular.woff2') format('woff2'),
        url('../fonts/MontserratAlternates-Regular.woff') format('woff'),
        url('../fonts/MontserratAlternates-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/MontserratAlternates-Medium.eot');
    src: local('Montserrat Alternates Medium'), local('MontserratAlternates-Medium'),
        url('../fonts/MontserratAlternates-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MontserratAlternates-Medium.woff2') format('woff2'),
        url('../fonts/MontserratAlternates-Medium.woff') format('woff'),
        url('../fonts/MontserratAlternates-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/MontserratAlternates-LightItalic.eot');
    src: local('Montserrat Alternates Light Italic'), local('MontserratAlternates-LightItalic'),
        url('../fonts/MontserratAlternates-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MontserratAlternates-LightItalic.woff2') format('woff2'),
        url('../fonts/MontserratAlternates-LightItalic.woff') format('woff'),
        url('../fonts/MontserratAlternates-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/MontserratAlternates-ThinItalic.eot');
    src: local('Montserrat Alternates Thin Italic'), local('MontserratAlternates-ThinItalic'),
        url('../fonts/MontserratAlternates-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MontserratAlternates-ThinItalic.woff2') format('woff2'),
        url('../fonts/MontserratAlternates-ThinItalic.woff') format('woff'),
        url('../fonts/MontserratAlternates-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates ExLight';
    src: url('../fonts/MontserratAlternates-ExtraLightItalic.eot');
    src: local('Montserrat Alternates ExtraLight Italic'), local('MontserratAlternates-ExtraLightItalic'),
        url('../fonts/MontserratAlternates-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MontserratAlternates-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/MontserratAlternates-ExtraLightItalic.woff') format('woff'),
        url('../fonts/MontserratAlternates-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates ExLight';
    src: url('../fonts/MontserratAlternates-ExtraLight.eot');
    src: local('Montserrat Alternates ExtraLight'), local('MontserratAlternates-ExtraLight'),
        url('../fonts/MontserratAlternates-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MontserratAlternates-ExtraLight.woff2') format('woff2'),
        url('../fonts/MontserratAlternates-ExtraLight.woff') format('woff'),
        url('../fonts/MontserratAlternates-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/MontserratAlternates-ExtraBold.eot');
    src: local('Montserrat Alternates ExtraBold'), local('MontserratAlternates-ExtraBold'),
        url('../fonts/MontserratAlternates-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MontserratAlternates-ExtraBold.woff2') format('woff2'),
        url('../fonts/MontserratAlternates-ExtraBold.woff') format('woff'),
        url('../fonts/MontserratAlternates-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/MontserratAlternates-ExtraBoldItalic.eot');
    src: local('Montserrat Alternates ExtraBold Italic'), local('MontserratAlternates-ExtraBoldItalic'),
        url('../fonts/MontserratAlternates-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MontserratAlternates-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/MontserratAlternates-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/MontserratAlternates-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/MontserratAlternates-MediumItalic.eot');
    src: local('Montserrat Alternates Medium Italic'), local('MontserratAlternates-MediumItalic'),
        url('../fonts/MontserratAlternates-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MontserratAlternates-MediumItalic.woff2') format('woff2'),
        url('../fonts/MontserratAlternates-MediumItalic.woff') format('woff'),
        url('../fonts/MontserratAlternates-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/MontserratAlternates-BlackItalic.eot');
    src: local('Montserrat Alternates Black Italic'), local('MontserratAlternates-BlackItalic'),
        url('../fonts/MontserratAlternates-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MontserratAlternates-BlackItalic.woff2') format('woff2'),
        url('../fonts/MontserratAlternates-BlackItalic.woff') format('woff'),
        url('../fonts/MontserratAlternates-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/MontserratAlternates-Italic.eot');
    src: local('Montserrat Alternates Italic'), local('MontserratAlternates-Italic'),
        url('../fonts/MontserratAlternates-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MontserratAlternates-Italic.woff2') format('woff2'),
        url('../fonts/MontserratAlternates-Italic.woff') format('woff'),
        url('../fonts/MontserratAlternates-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Hairline'), local('Lato-Hairline'), url('../fonts/latohairline.woff2') format('woff2'), url('../fonts/latohairline.woff') format('woff'), url('../fonts/latohairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'), url('../fonts/latohairlineitalic.woff2') format('woff2'), url('../fonts/latohairlineitalic.woff') format('woff'), url('../fonts/latohairlineitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Thin'), local('Lato-Thin'), url('../fonts/latothin.woff2') format('woff2'), url('../fonts/latothin.woff') format('woff'), url('../fonts/latothin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Thin Italic'), local('Lato-ThinItalic'), url('../fonts/latothinitalic.woff2') format('woff2'), url('../fonts/latothinitalic.woff') format('woff'), url('../fonts/latothinitalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Light'), local('Lato-Light'), url('../fonts/latolight.woff2') format('woff2'), url('../fonts/latolight.woff') format('woff'), url('../fonts/latolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Light Italic'), local('Lato-LightItalic'), url('../fonts/latolightitalic.woff2') format('woff2'), url('../fonts/latolightitalic.woff') format('woff'), url('../fonts/latolightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/latoregular.woff2') format('woff2'), url('../fonts/latoregular.woff') format('woff'), url('../fonts/latoregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Italic'), local('Lato-Italic'), url('../fonts/latoitalic.woff2') format('woff2'), url('../fonts/latoitalic.woff') format('woff'), url('../fonts/latoitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Medium'), local('Lato-Medium'), url('../fonts/latomedium.woff2') format('woff2'), url('../fonts/latomedium.woff') format('woff'), url('../fonts/latomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Medium Italic'), local('Lato-MediumItalic'), url('../fonts/latomediumitalic.woff2') format('woff2'), url('../fonts/latomediumitalic.woff') format('woff'), url('../fonts/latomediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Semibold'), local('Lato-Semibold'), url('../fonts/latosemibold.woff2') format('woff2'), url('../fonts/latosemibold.woff') format('woff'), url('../fonts/latosemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Semibold Italic'), local('Lato-SemiboldItalic'), url('../fonts/latosemibolditalic.woff2') format('woff2'), url('../fonts/latosemibolditalic.woff') format('woff'), url('../fonts/latosemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/latobold.woff2') format('woff2'), url('../fonts/latobold.woff') format('woff'), url('../fonts/latobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url('../fonts/latobolditalic.woff2') format('woff2'), url('../fonts/latobolditalic.woff') format('woff'), url('../fonts/latobolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Heavy'), local('Lato-Heavy'), url('../fonts/latoheavy.woff2') format('woff2'), url('../fonts/latoheavy.woff') format('woff'), url('../fonts/latoheavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Heavy Italic'), local('Lato-HeavyItalic'), url('../fonts/latoheavyitalic.woff2') format('woff2'), url('../fonts/latoheavyitalic.woff') format('woff'), url('../fonts/latoheavyitalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Black'), local('Lato-Black'), url('../fonts/latoblack.woff2') format('woff2'), url('../fonts/latoblack.woff') format('woff'), url('../fonts/latoblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Black Italic'), local('Lato-BlackItalic'), url('../fonts/latoblackitalic.woff2') format('woff2'), url('../fonts/latoblackitalic.woff') format('woff'), url('../fonts/latoblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
