.icon-36
    width: 36px
    height: 36px

.icon-33
    width: 33px
    height: 33px

.title-secondary
    font-weight: 600
    font-size: 20px
    color: $violet
    font-family: $montserat

.weight-700
    font-weight: 700

.weight-600
    font-weight: 600

.weight-400
    font-weight: 400

.font-montserat
    font-family: $montserat

.checkbox
    display: inline-flex
    align-items: center
    input[type="checkbox"],
    input[type="radio"]
        appearance: none
        margin: 0
        &:checked + .checkbox__box
            svg
                display: inline-block

    &--full
        .checkbox__box
            svg
                width: 15px
                height: 11px

    &__box
        width: 20px
        height: 20px
        border: 1px solid $black
        margin-left: 3px
        color: $black
        display: inline-flex
        align-items: center
        justify-content: center
        line-height: 0
        svg
            width: 12px
            height: 9px
            display: none

.radio
    display: inline-flex
    align-items: center
    input[type="radio"]
        appearance: none
        margin: 0
        &:checked + .radio__box svg
            display: inline-block
            
    &--black
        .radio__box
            color: $white
            background-color: $black
    &--white
        .radio__box
            color: $black
            background-color: $white
    &__box
        border-radius: 50%
        width: 20px
        height: 20px
        border: 1px solid #000000
        display: inline-flex
        align-items: center
        justify-content: center
        line-height: 0
        svg
            width: 12px
            height: 9px
            display: none