mixin featureTile(type)
    .feature-tile
        .feature-tile__inner
            .stickers-wrap
                .sticker Акция
            .feature-tile__actions
                a(href="").feature-tile__actions-item
                    svg.fill-none
                        use(xlink:href="./img/sprites.svg#like")
                a(href="").feature-tile__actions-item
                    svg
                        use(xlink:href="./img/sprites.svg#compare")
            .feature-tile__image
                img(src="./img/dummy.png", alt="")
                .feature-tile__image-panel
                    button(type="button")
                        svg
                            use(xlink:href="./img/sprites.svg#hamb-quick")
                        span Быстрый показ
            if type == 1
                .feature-tile__state.text-underline.color-pink.weight-500 Есть в наличии
            if type == 2
                .feature-tile__state.color-blue.weight-500 Нет в наличие
            if type == 3
                .feature-tile__state.exist-order Под заказ, 10 дней
            if type == 4
                .feature-tile__state.exist-end Заканчивается
            p.feature-tile__description Какая то прикольная штука, умеет кофе варить
            .feature-price
                svg
                    use(xlink:href="./img/sprites.svg#fire")
                .feature-price__regular 165 399 ₸
                .feature-price__old 145 279 ₸
            .feature-tile__buttons
                button(type="button").bg-blue-main.btn-small В корзину
                button(type="button").bg-pink-main.btn-small Купить в 1 клик
                
                    
