extends ../layout/main

block variables
    -var title = 'Категории'

block content

    .content
        include ../blocks/header/index
        .container
            include ../blocks/breadcrump
            h1.title-primary.color-blue.text-center Кофеварки интэрэсные
            .content__inner
                aside.aside
                    include ../blocks/filter
                main.main
                    include ../blocks/category/page-content

        include ../blocks/subscribe
        include ../blocks/footer
