extends ../layout/main

block variables
    -var title = 'Главная'

block content

    .content
        include ../blocks/header/index
        include ../blocks/main/banner
        include ../blocks/main/categories-wall
        include ../blocks/main/features
        include ../blocks/main/work
        include ../blocks/main/about
        include ../blocks/main/form
        include ../blocks/footer
