extends ../layout/main

block variables
    -var title = 'Главная'

block content

    .content
<<<<<<< HEAD
        include ../blocks/header/index
        include ../blocks/banner
        include ../blocks/category/index
        include ../blocks/featured/index
        include ../blocks/about
        include ../blocks/subscribe
=======
        include ../blocks/header
        include ../blocks/banner
        include ../blocks/about
        include ../blocks/services
>>>>>>> parent of d292c08... clean
        include ../blocks/footer
