extends ../layout/main

block variables
    -var title = Главная

block content

    .content
        include ../blocks/header
        include ../blocks/banner
        include ../blocks/start
        include ../blocks/plan
        include ../blocks/about
        include ../blocks/testimonials
        include ../blocks/footer
    include ../blocks/modals/request
