extends ../layout/main

block variables
    -var title = Главная

block content

    include ../blocks/header
    include ../blocks/main/banner
    include ../blocks/main/business
    include ../blocks/main/clients
    include ../blocks/main/achieve
    include ../blocks/main/examples
    include ../blocks/main/schedule
    include ../blocks/main/protection
    include ../blocks/main/strategy
    include ../blocks/main/income
    include ../blocks/main/specialization
    include ../blocks/main/testimonials
    include ../blocks/footer
