extends ../layout/main

block variables
    -var title = 'Магниты'

block content

    include ../blocks/products/paper-servets

    .content
        include ../blocks/header/index
        .content-w-sidebar
            include ../blocks/sidebar
            main.main-w-sidebar
                include ../blocks/checkout/magnet
        include ../blocks/footer
