extends ../layout/main

block variables
    -var title = 'Картонная продукция на заказ'

block content

    include ../blocks/products/paper-servets

    .content
        include ../blocks/header/index
        .content-w-sidebar
            include ../blocks/sidebar
            main.main-w-sidebar
                include ../blocks/checkout/papers
        include ../blocks/footer
