extends ../layout/main

block variables
    -var title = 'Бумажные салфетки'

block content

    include ../blocks/products/paper-servets

    .content
        include ../blocks/header/index
        .content-w-sidebar
            include ../blocks/sidebar
            main.main-w-sidebar
                .sets
                    h2.title-secondary Бумажные салфетки
                    .sets__wall
                        +setPaper
        include ../blocks/footer
