include ./parts/category-tile

section#s-category
    .container
        .category-wall
            h2.title-secondary.color-blue Категории
            .category-wall__content
                +categoryTile('Акушерство и гинекология', '99')
                +categoryTile('Диагностика', '99')
                +categoryTile('Акушерство и гинекология', '99')
                +categoryTile('Диагностика', '99')
                +categoryTile('Акушерство и гинекология', '99')
                +categoryTile('Диагностика', '99')
                +categoryTile('Акушерство и гинекология', '99')
                +categoryTile('Диагностика', '99')
                +categoryTile('Акушерство и гинекология', '99')
                +categoryTile('Диагностика', '99')
                +categoryTile('Акушерство и гинекология', '99')
                +categoryTile('Диагностика', '99')

