#s-about{
    padding: 40px 0 60px;
}

.about{
    display: flex;

    &__image{
        max-width: 522px;
        width: 100%;
        margin-right: 10%;
        position: relative;
        &-subscribtion{
            font-family: $tt;
            font-size: 32px;
            line-height: 36px;
            color: #FFFFFF;

            position: absolute;
            left: 24px;
            bottom: 24px;
            max-width: 360px;
        }
    }

    &__content{
        padding-top: 38px;

        .title-secondary{
            margin-bottom: 30px;
        }
        .list{
            margin-bottom: 20px;
        }
    }

    &__certificate{
        margin-left: 21px;
        position: relative;
        display: inline-block;
        &::after{
            content: '';
            position: absolute;
            top: -7px;
            left: -47px;
            bottom: -52px;
            right: -62px;
            background-image: url(../img/svg/eclipse-certificate.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            z-index: 1;
        }
        img{
            position: relative;
            z-index: 2;
        }
    }
}