<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
.banner{
    color: $white;
    text-align: center;
    background-color: $pink-main;

    padding: 18px 13px; 

    position: relative;

    &__title{
        font-weight: 500;
        font-size: 32px;

        margin-bottom: 11px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__text{
        font-size: 24px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &::after,
    &::before{
        content: '+';
        color: $pink-main;
        font-size: 200px;
        font-weight: 700;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        width: 143px;
        height: 143px;

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $gray-100;
       
    }

    &::before{
        left: 0;
        border-radius: 0 50% 50% 0;
    }

    &::after{
        right: 0;
        border-radius: 50% 0 0 50%;
=======
=======
>>>>>>> parent of d292c08... clean
=======
>>>>>>> parent of d292c08... clean
#s-banner{
    background-image: url(../img/banner-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    padding: 360px 0 90px;

    position: relative;

    @include customMedia(1024px){
        padding: 205px 0 23px;
    }
}

.banner{
    text-align: center;
    .title-primary{
        margin-bottom: 10px;
    }
    .title-secondary{
        margin-bottom: 40px;
        @include customMedia(1024px){
            margin-bottom: 25px;
        }
    }
    &__text{
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        font-family: $ubuntu;
        margin-bottom: 60px;
        @include customMedia(1024px){
            font-size: 16px;
            line-height: 18px;
            margin-bottom: 35px;
        }
        
    }
    &__arrow-down{
        margin: 186px auto 0;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        @include customMedia(1024px){
            margin-top: 132px;
        }
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> parent of d292c08... clean
=======
>>>>>>> parent of d292c08... clean
=======
>>>>>>> parent of d292c08... clean
    }
}