.breadcrump{
    margin-top: 23px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    font-family: $ff_cond;

    color: #777777;
    & > *:not(:last-child){
        margin-right: 28px;
        position: relative;
        &::after{
            content: '\003E';
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            left: calc(100% + 14px);

        }
    }
}