#s-header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 2;
}

.logo{
    font-size: 22px;
    font-family: $anglecia;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 36px 0;

    &__menu{
        display: flex;
        align-items: center;
        color: #ffffff;
        & > *:not(:last-child){
            margin-right: 50px;
        }
    }
}