.content-w-sidebar{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.main-w-sidebar{
    max-width: 850px;
    width: 100%;
    margin-right: auto;
    position: relative;
}