.sidebar{
    max-width: 295px;
    margin-left: auto;
    position: relative;
    background-image: linear-gradient(180deg, #DFD9E4 0%, rgba(202, 192, 210, 0) 100%);

    padding: 41px 15px 78px 0;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        right: 100%;
        width: 100vw;
        height: 100%;
        background-image: linear-gradient(180deg, #DFD9E4 0%, rgba(202, 192, 210, 0) 100%);
    }
}

.sidebar-item{

    &:not(:last-child){
        margin-bottom: 20px;
    }

    &__title{
        font-family: $montserat;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 20px;
    }

    &__list{
        & > *:not(:last-child){
            margin-bottom: 13px;
        }
        a{
            font-size: 13px;
            &:hover{
                color: $violet;
            }
        }
    }
}