#s-testimonials{
    background-image: linear-gradient(106.42deg, #CDD6E8 8.61%, #F1F4F8 93.97%);
    padding-top: 310px;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 140px;

        background-image: url(../img/svg/testimonials-before.svg);
        background-size: 100% auto;
        background-position: top center;
        background-repeat: no-repeat;
    }
}

.testimonials{
    .title-secondary{
        margin-bottom: 50px;
    }

    &__content{
        column-count: 2;
        column-gap: 20px;
        margin-bottom: -20px;
        & > *{
            margin-bottom: 20px;
        }
    }
}

.testimonial{
    display: inline-block;
    max-width: 630px;
    padding: 50px 40px 40px;
    background-color: $white;
    box-shadow: 4px 4px 15px rgba(23, 21, 19, 0.15);
    border-radius: 15px;
    &__text{
        font-size: 17px;
        line-height: 1.5;
        color: $black;
        margin-bottom: 30px;
        .break{
            line-height: .8;
        }
    }

    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info{
        display: flex;
        align-items: center;
    }

    &__photo{
        min-width: 70px;
        width: 70px;
        height: 70px;
        margin-right: 20px;
    }

    &__bio{
        font-family: $tt;
        font-size: 17px;
        line-height: 20px;
    }

    &__name{
        color: $black;
        margin-bottom: 5px;
    }

    &__age{
        color: rgba(0, 0, 0, 0.4);
    }

    &__social{
        a{
            font-size: 18px;
            line-height: 1.4;
            text-decoration-line: underline;
            color: #3A173C;
        }
        & > *:not(:last-child){
            margin-right: 20px;
        }
    }
}