section#s-about
    .container
        .about
            .about__img
                img(src="./img/about-img.png", alt="")
            .about__content
                h2.title-secondary О нас
                p.about__text Мы динамично развиваемся и набираем в свою команду<br> только профессионалов своего дела, что позволяет быстро и качественно обслуживать клиентов. Наши специалисты найдут индивидуальный подходк каждому заказчику.