section#s-achieve
    .container
        .achieve
            .achieve__header Вам нужен надёжный партнёр, который возьмёт привлечение клиентов на себя и гарантирует результат
            .achieve__content
                .achieve__content-title Мы поможем достичь цели
                .achieve__content-text Возможен партнёрский вариант сотрудничества с оплатой разработки по себестоимости
                