section#s-banner
    .banner-wrap
        .container
            .banner
                .banner__content
                    h1.title-primary Производственная компания ЛофтКом
                    p.banner__text Наша компания производит одноразовую продукцию для сегмента HoReCa с возможностью нанесения логотипа заказчика
                    p.banner__subscribtion Доставка по всей России и СНГ
                    ul.banner__socials
                        li
                            a(href="#")
                                svg.icon-36
                                    use(xlink:href="./img/sprites.svg#instagram")
                        li
                            a(href="#")
                                svg.icon-36
                                    use(xlink:href="./img/sprites.svg#vk")
                .banner-slider
                    .banner-slider__item
                        img(src="./img/slider-img.jpg", alt="")
