section#s-banner
    .container
        .banner
            .banner__suptitle.font-18 Агентство digital-маркетинга
            h1.title-size-1.banner__title.title-w-circle.circle-brown
                span Возьмём ваш маркетинг на себя
            h2.banner__subtitle Строим современные и надёжные системы привлечения клиентов с гарантией
            button(type="button").button_red.banner__button.font-bold.font-18.color-white Заказать
            .features
                .feature
                    .feature__icon
                        img(src="static/img/bars.svg", alt="Графы")
                    p.font-18.color-white Рассчитаем окупаемость заранее
                .feature
                    .feature__icon
                        img(src="static/img/coin.svg", alt="Монета")
                    p.font-18.color-white  Рассчитаем окупаемость заранее
                .feature
                    .feature__icon
                        img(src="static/img/moneybag.svg", alt="Мешок с деньгами")
                    p.font-18.color-white Рассчитаем окупаемость заранее