section#s-business
    .container
        .business
            .business__content
                h2.business__title.circle-gray.title-w-circle 
                    span Ваш бизнес неплохо работает
                p.business__text Вы успешно продаете, клиенты рекомендуют вас
            .business__features
                ul.business__features-list
                    li Продажи дают хорошую прибыль
                    li Клиенты остаются довольными
                    li Готовы инвестировать в дальнейший рост