mixin categoryTile(text)
    .categroy-tile
        .category-tile__image
            img(src="./img/category.png", alt="")
        p.category-tile__text=text


section#s-categories
    .container
        .categories
            h2.title-secondary Продукция нашей компании
            .categories__wall
                +categoryTile('Влажные салфетки в индивидуальной упаковке')
                +categoryTile('Влажные салфетки в упаковке «флоу-пак»')
                +categoryTile('Влажные салфетки в боксе')
                +categoryTile('Влажные салфетки с логотипом')
                +categoryTile('Готовые наборы одноразовых приборов')
                +categoryTile('Наборы одноразовых приборов под заказ')
                +categoryTile('Сахар в стиках')
                +categoryTile('Сахар в стиках с логотипом')
                +categoryTile('Картонная продукция')
                +categoryTile('Одноразовые приборы')
                +categoryTile('Бумажные салфетки')
                +categoryTile('Магниты с логотипом')