section#s-clients
    .container
        .clients
            .clients__content
                h2.clients__title Вы хотите больше клиентов, прибыли и свободного времени
                p.clients__text Клиентов иногда больше, иногда меньше, но никогда не бывает слишком много
            .attraction
                .attraction__header 
                    span.attraction__header-text
                        span Привлечение клиентов пора:
                .attraction__list
                    .step
                        .step__number 01
                        .step__title Систематизировать
                        .step__text Сделать приток новых клиентов постоянным и стабильным
                    .step
                        .step__number 02
                        .step__title Масштабировать
                        .step__text Получать в несколько раз больше заказов
                    .step
                        .step__number 03
                        .step__title Систематизировать
                        .step__text Сделать это чужими руками и получить больше свободного времени