mixin component(imgName, title, text)
    .component
        .component__icon
            img(src="static/img/" + imgName + ".svg", alt="")
        .component__body
            .component__title=title
            .component__text=text

.components
    h2.components__header Подберём нужные компоненты и решим поставленные задачи
    .components__content
        +component(
            'like',
            'Соцсети',
            'Познакомиться и прокачать узнаваемость'
        )
        +component(
            'magnet',
            'Лидмагнит',
            'Активировать потребность, прокачать авторитет'
        )
        +component(
            'chat',
            'Чатбот',
            'Квалифицировать, уточнить потребности, получить контакты'
        )
        +component(
            'message',
            'Прогревочная рассылка',
            'Создать доверие и подготовить к покупке'
        )
        +component(
            'target',
            'Трипваер',
            'Сделать первую продажу, превзойти ожидания и создать фаната'
        )
        +component(
            'money',
            'Коммерческое предложение',
            'Закрепить основные смыслы в уме клиента'
        )
        +component(
            'scale',
            'Лидменеджер',
            'Отфильтровать мусорный трафик и удержать клиента'
        )
        +component(
            'shake',
            'Продающая консультация',
            'Заключить сделку'
        )
        +component(
            'computer',
            'Продающий лендинг',
            'Презентовать основной продукт'
        )
        +component(
            'head',
            'Менеджер по продажам',
            'Закрыть возражения и довести до покупки'
        )
        +component(
            'note',
            'Договор',
            'Зафиксировать все обещания и защититься от претензий'
        )
        +component(
            'wallet',
            'Платёжная система',
            'Принимать оплату картами онлайн'
        )
        +component(
            'webcam',
            'Вебинар',
            'Масштабировать основателя чтобы хватило на всех клиентов'
        )
        +component(
            'education',
            'Онлайн-курс',
            'Упаковать знания'
        )
        +component(
            'sound',
            'Реклама в соцсетях',
            'Наполнить воронку трафиком'
        )
