section#s-examples
    .container
        .examples
            .examples__header.circle-gray.title-w-circle
                span Примеры работающих систем привлечения клиентов
            .examples__content
                .example.example--short
                    .example__title Продажа услуг через консультацию
                    .example__image
                        img(src="static/img/schema_1.jpg", alt="")
                    .example__text Цена под ключ — <span class="red font-bold">$5100</span>
                    .example__text В партнёрстве — <span class="font-bold">$1700</span> + 30% прибыли
                .example.example--long
                    .example__title Сбор онлайн-тренинга через вебинар
                    .example__image 
                        img(src="static/img/schema_2.jpg", alt="")
                    .example__text Цена под ключ — <span class="red font-bold">$7500</span>
                    .example__text В партнёрстве — <span class="font-bold">$2500</span> + 30% прибыли
                .example.example--long
                    .example__title Автоматические продажи обучающего курса
                    .example__image
                        img(src="static/img/schema_3.jpg", alt="")
                    .example__text Цена под ключ — <span class="red font-bold">$12900</span>
                    .example__text В партнёрстве — <span class="font-bold">$4300</span> + 30% прибыли
        include components