section#s-features
    .container
        .features
            .feature
                .feature__icon
                    img(src="./img/svg/check.svg", alt="галочка")
                p Сроки изготовления продукции под заказ от 5 до 20 дней в зависимости от тиража партии.
            .feature
                .feature__icon
                    img(src="./img/svg/check.svg", alt="галочка")
                div
                    p Быстрая доставка: 
                    p *отгрузка готовой продукции на следующий день после оплаты
                    p *отгрузка продукции под заказна следующий день после изготовления.
            .feature
                .feature__icon
                    img(src="./img/svg/check.svg", alt="галочка")
                p Высокое качество продукциисоответствующее требованиям ТР ТС 009/2011, подтверждено декларацией соответствия.
