section#s-callback
    .container
        .callback
            .callback__subscribtion имя и майл обязательны для заполнения так же как и на той форме 
            .form-main
                .form-main__title Получите подробную консультацию через 10 минут!
                .form-main__fields
                    .form-main__input
                        input(type="text" placeholder="Имя")
                    .form-main__input
                        input(type="text" placeholder="E-mail")
                    .form-main__textarea
                        textarea(placeholder="Оставьте комментарий")
                button(type="submit").form-main__button Получить консультацию