section#s-income
    .container
        .income
            h2.income__header
                div.title-w-circle.circle-gray.text-align-left 
                    span Мы получили прибыль
                div.text-align-right для <span class="red">200+</span> партнеров
            .income__subtitle Имеем опыт в десятках ниш. Основные:
            .income__lists
                ul.income-list
                    li Продажи
                    li Менеджмент
                    li Управление бизнесом
                    li Недвижимость
                    li Инвестиции
                ul.income-list
                    li Психология
                    li Отношения
                    li Лайф коучинг
                    li Личностный рост
                    li Иностранные языки
                ul.income-list
                    li Сетевой бизнес
                    li Мода и стиль
                    li Красота
                    li Воспитание детей
                    li Знакомства
                ul.income-list
                    li Фитнес
                    li Единоборства
                    li Медитации
                    li Похудение
                    li Массаж
        include results

