section#s-protection
    .container
        .protection
            .protection__header
                h2.protection__title Защита от неудачных запусков
                .protection__subtitle При выходе на новый рынок или запуске нового продукта снижаем риски с помощью двух дополнительных компонентов во время первого этапа
            .protection-list
                .protection-list__item
                    .protection-list__icon
                        img(src="static/research.svg", alt="")
                    .protection-list__content
                        .protection-list__title Исследование рынка
                        .protection-list__text Проводим глубокий анализ ниши, основных конкурентов и их предложений, получаем точное понимание целевой аудитории, и выбираем наилучшее позиционирование.
                .protection-list__item
                    .protection-list__icon
                        img(src="static/search.svg", alt="")
                    .protection-list__content
                        .protection-list__title Сплит-тест
                        .protection-list__text Проводим быструю и короткую тестовую рекламную кампанию чтобы выбрать самый перспективный варианта продукта или первого шага ещё до начала разработки основной воронки.
            