
.results
    h2.results__header Мы гордимся результатами своих клиентов
    .results__content
        .result-card
            .result-card__inner
                img.result-card__image(src="static/img/results_1.jpg", alt="Михаил")
                .result-card__content
                    .result-card__name Михаил
                    .result-card__cell
                        .result-card__cell-head.gray Ниша:
                        .result-card__cell-body Обучение массажу
                    .result-card__cell
                        .result-card__cell-head.gray Формат
                        .result-card__cell-body Тренинги в Москве, Питере, Калининграде и Архангельске
                    .result-card__cell
                        .result-card__cell-head.red Результат
                        .result-card__cell-body Собрали 5 тренингов с прибылью в 1 000 000 рублей
        .result-card
            .result-card__inner
                img.result-card__image(src="static/img/results_2.jpg", alt="Дарья")
                .result-card__content
                    .result-card__name Дарья
                    .result-card__cell
                        .result-card__cell-head.gray Ниша:
                        .result-card__cell-body Обучение наращиванию ресниц
                    .result-card__cell
                        .result-card__cell-head.gray Формат
                        .result-card__cell-body Онлайн-школа
                    .result-card__cell
                        .result-card__cell-head.red Результат
                        .result-card__cell-body 1670 заявок на вебинар по 11 рублей за 11 дней
        .result-card
            .result-card__inner
                img.result-card__image(src="static/img/results_3.jpg", alt="Дмитрий")
                .result-card__content
                    .result-card__name Дмитрий
                    .result-card__cell
                        .result-card__cell-head.gray Ниша:
                        .result-card__cell-body Коучинг для мужчин
                    .result-card__cell
                        .result-card__cell-head.gray Формат
                        .result-card__cell-body Оффлайн курс в Таллинне, Эстония
                    .result-card__cell
                        .result-card__cell-head.red Результат
                        .result-card__cell-body Привели клиентов на сумму 20 000 евро за месяц
