mixin number(number, text)
    .number
        .number__main=number
        .number__subtitle=text

section#s-specialization
    .container
        .specialization
            .specialization__header
                .specialization__col
                    .specialization__title.title-w-circle.circle-gray 
                        span Берем вопросы продвижения и продаж на себя
                    .specialization__subtitle Мы специализируемся на продвижении с помощью онлайн-инструментов
                .specialization__col.numbers
                    +number('3', 'года на рынке')
                    +number('200', 'и более проектов')
                    +number('20', 'сотрудников')
                    +number('25', 'ниш')
                    +number('12', 'наборов услуг')
                    +number('100', 'дополнительных инструментов')
            .specialization__text.title-w-circle.circle-gray
                span Над каждым проектом трудится отдельная команда, свой клиент-менеджер и маркетолог, полностью погруженный в продукт