mixin advantage(text)
    .advantage
        .advantage__icon
            img(src="static/img/check.svg", alt="")
        .advantage__text=text
section#s-strategy
    .container
        .strategy
            .strategy__header
                h2.strategy__title.title-w-circle.circle-gray 
                    span Начнем с разработки стратегии продвижения
                .strategy__subtitle Это необходимо, чтобы свести риски к минимуму
            .advantages
                +advantage('Реализовать стратегию можете своими силами или нашими')
                +advantage('100% запусков с нами начинаются с этого шага')
                +advantage('98% клиентов доверяют реализацию стратегии нам')
                +advantage('$2890 — средняя экономия клиента на дальнейшем продвижении')
            .strategy__plan
                .plan-slider
                .plan
                    h3.plan__title В стратегию входит:
                    .plan__subtitle Пошаговый план, как привлекать больше клиентов
                    ul.plan__list
                        li Разрабатываем концепт (УТП + логика презентации / позиционирование)
                        li Находим платежеспособную целевую аудиторию
                        li Создаем логику презентации проекта для потенциального клиента
                        li Разрабатываем коммуникационную стратегию и воронку продаж
                    .plan__subtitle Смета работ
                    ul.plan__list
                        li Подбор необходимых инструментов
                        li Три варианта стоимости: эконом, стандарт, премиум
                    .plan__subtitle Пошаговый план, как привлекать больше клиентов
                    ul.plan__list
                        li Финансовый план запуска
                        li Расчет рекламного бюджета
                        li Подбор жизнеспособной бизнес-модели
                        li Анализ рисков и развития негативного сценария
                    button(type="button").button_red.plan__button
                        span Купить сейчас
                        span $390
                