section#s-testimonials
    .container
        .testimonials
            .testimoinials__header Нас благодарят
            .testimonials__content
                img(src="static/img/dummy1.png", alt="")
                img(src="static/img/dummy2.png", alt="")
        
section#s-offer
    .container
        .offer
            h2.offer__header.title-w-circle.circle-brown-light
                span Начнем работать?
            button(type="button").button_red.offer__button Заказать разработку стратегии
            