mixin workStep(img,title,text, className)
    .work-step(class=className ? className : '')
        .work-step__icon
            img(src="./img/svg/"+ img + ".svg", alt="")
        .work-step__content
            h3.work-step__title=title
            p.work-step__text=text

section#s-work
    .container
        .work
            h2.title-secondary Как мы работаем
            .work__items
                +workStep('list', 'Оформление заказа', 'Вы формируете корзину или оставляете заявку на сайте.')
                +workStep('checklist', 'Подтверждение заказа', 'Мы связываемся с Вами для уточнения и подтверждения заказа.')
                +workStep('pay', 'Оплата', 'Вы присылаете нам реквизиты своей компании, мы подписываем с Вами договор и выставляем счет на оплату.')
                +workStep('box', 'Подготовка или производство заказа.', 'Если Вы приобретаете готовую продукцию, то отгрузка совершается на следующий день после зачисления денежных средств на расчетный счёт.Если продукция под заказ - производство занимает от 5 до 21 дня, в зависимости от тиража и особенностей заказа.', 'work-step--big')
                +workStep('car', 'Доставка', 'Доставка вашего заказ в любую точку России и СНГ.')
                