.tile{
    font-size: 13px;
    &__title{
        font-weight: 600;
        color: $violet;
        font-family: $montserat;
        margin-bottom: 13px;

        &--black{
            color: $black;
        }
    }

    &__image{
        margin-bottom: 6px;
    }

    &__type{
        font-weight: 600;
        color: $violet;
        font-family: $montserat;
        margin-bottom: 22px;
    }

    &__colors{
        font-size: 14px;
        display: flex;
        align-items: center;
        margin-bottom: 22px;
        &-title{
            margin-right: 10px;
        }
        &-radios{
            display: inline-flex;
            & > *:not(:last-child){
                margin-right: 13px;
            }
        }
    }

    .tile__colors-drop{
        margin-bottom: 7px;
    }

    &__quantity{
        display: flex;
        align-items: center;
        margin-bottom: 22px;
        &-title{
            color: rgba(0, 0, 0, 0.9);
            margin-right: 7px;
            font-family: $montserat;
        }
    }

    &__state{
        padding: 0 14px;
        line-height: 19px;
        background-color: $violet-pale;
        margin-bottom: 9px;
        display: inline-block;
    }
    &__price{
        margin-bottom: 8px;
    }
    &__total{
        margin-bottom: 13px;
    }

    &__button{
        padding: 6px 24px 6px 33px;
        background-color: $violet;
        font-size: 14px;
        box-shadow: 4px 6px 15px #8F64BB, inset 0px 0px 3px rgba(0, 0, 0, 0.25);
        display: inline-flex;
        align-items: center;
        color: $white;

        border-radius: 18px;
        svg{
            margin-left: 7px;
        }
    }
}

.product-quantity{
    display: flex;
    button{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid $violet;
        color: $violet;
        font-size: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    &__minus{
        span{
            display: block;
            width: 14px;
            height: 2px;
            background-color: $violet;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    input{
        margin: 0 6px;
        max-width: 50px;
        width: 10px;
        min-width: 10px;
        border: 0;
        font-size: 13px;
        color: rgba(0, 0, 0, 0.9);
        text-align: center;
    }
    &__plus{
        span{
            &:first-child{
                display: block;
                width: 14px;
                height: 2px;
                background-color: $violet;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &:nth-child(2){
                display: block;
                width: 14px;
                height: 2px;
                background-color: $violet;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(90deg);
            }
            
        }
    }
}

.tile__colors{
    &-drop{
        display: flex;
    }
   
    &-label{
        font-size: 14px;
    }
}

.colors-drop{
    position: relative;
    z-index: 10;
    &__header{
        padding: 5px 30px 5px 9px;

        min-width: 158px;

        background-color: $violet;
        display: flex;
        align-items: center;

        position: relative;

        &-icon{
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            svg{
                width: 12px;
                height: 7px;
                color: $white;
            }
        }
    }

    &__body{
        position: absolute;
        top:100%;
        left: 0;
        max-width: 128px;
        width: 100%;
        display: none;
    }

    &__text{
        color: $white;
    }

    &__box{
        width: 20px;
        height: 20px;
        background-color: $black;
        border-radius: 50%;

        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 0;

        margin-right: 7px;

        svg{
            width: 12px;
            height: 9px;
            display: none;
            color: $white;
        }

        &--checked{
            svg{
                display: block;
            }
        }
    }

    &__child{

        position: relative;
        
        &-header{
            background-color: $violet-dark;
            padding: 5px 9px;

            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: $white;
            font-size: 14px;
            text-transform: uppercase;

            &.active{
                .colors-drop__child-icon{
                    transform: rotate(180deg);
                }
            }
        }

        &-body{
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            display: none;
        }

        &-icon{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 9px;
            transition: .3s;
            svg{
                width: 12px;
                height: 7px;
                color: $white;
            }
        }
    }

    &__item{
        background-color: $violet-dark;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 5px 9px;
        cursor: pointer;

        transition: .3s;

        &:hover{
            background-color: $violet;
        }
    }


}