.banner{

    display: flex;

    &__content{
        padding: 117px 0 140px;
        max-width: 460px;
    }

    .title-primary{
        font-weight: 600;
        font-size: 36px;
        font-family: $montserat;
        color: $violet;
        margin-bottom: 32px;
    }

    &__text{
        font-weight: 500;
        font-size: 18px;
        color: #000000;
        margin-bottom: 32px;
    }

    &__subscribtion{
        font-weight: 500;
        font-size: 20px;
        color: #000000;
        margin-bottom: 40px;
    }

    &__socials{
        display: flex;
        align-items: center;

        & > *:not(:last-child){
            margin-right: 30px;
        }
    }

}

.banner-slider{
    position: absolute;
    top: 0;
    right: 0;
    max-width: 52%;
    width: 762px;
}

.banner-wrap{
    max-width: 1920px;
    position: relative;
}