mixin setPaper
     .tile.tile--set
        .tile__image
            img(src="./img/paper-servet.png", alt="")
        .tile__content
            h3.tile__title
                span Салфетки бумажные однослойные 24*24 см,сложение 1/4
            .tile__colors-drop
                .tile__colors-label Цвет:
                .colors-drop
                    .colors-drop__header(data-color="#000" data-drop="open")
                        .colors-drop__box.colors-drop__box--checked(style="background-color: #000000")
                            svg
                                use(xlink:href="./img/sprites.svg#check-icon")
                        .colors-drop__text(data-color-text="Черный") Черный
                        .colors-drop__header-icon
                            svg
                                use(xlink:href="./img/sprites.svg#arrow-down")
                    .colors-drop__body(data-drop="body")
                        .colors-drop__item
                            .colors-drop__box(style="background-color: #ffffff")
                                svg
                                    use(xlink:href="./img/sprites.svg#check-icon")
                            .colors-drop__text Белый
                        .colors-drop__item
                            .colors-drop__box(style="background-color: #FFE1A8")
                                svg
                                    use(xlink:href="./img/sprites.svg#check-icon")
                            .colors-drop__text Шампань
                        .colors-drop__child
                            .colors-drop__child-header(data-drop="open") 
                                span Интенсив
                                .colors-drop__child-icon
                                    svg
                                        use(xlink:href="./img/sprites.svg#arrow-down")
                            .colors-drop__child-body(data-drop="body")
                                .colors-drop__item
                                    .colors-drop__box(style="background-color: #FAFF00")
                                        svg
                                            use(xlink:href="./img/sprites.svg#check-icon")
                                    .colors-drop__text Желтый
                                .colors-drop__item
                                    .colors-drop__box(style="background-color: #2A8500")
                                        svg
                                            use(xlink:href="./img/sprites.svg#check-icon")
                                    .colors-drop__text Зеленый
                            

            .tile__quantity
                .tile__quantity-title <span class="weight-700">400</span> шт./кор.
                .product-quantity 
                    button.product-quantity__minus
                        span
                    input(type="text" onkeyup="this.style.width = ((this.value.length + 1) * 8) + 'px';" value="1")
                    button.product-quantity__plus
                        span
                        span
            .tile__state В наличии на складе
            .tile__price Цена: <span class="weight-700">125</span> руб./кор.
            .tile__total Общая стоимость: <span class="weight-700">1620</span> руб
            button(type="button").tile__button
                span В корзину
                svg.icon-33
                    use(xlink:href="./img/sprites.svg#cart")