.checkout
    h1.title-secondary Влажные салфетки в индивидуальной упаковке с Вашим логотипом
    .checkout__content.checkout__content--servets
        p(style="font-weight: 600; font-family: 'Montserrat Alternates'") Мы изготовим для Вас влажные салфетки в индивидуальной упаковке:
        p &nbsp;
        p · С нанесением логотипа любой сложности
        p &nbsp;
        p · С выбором размера упаковки
        p &nbsp;
        p · С различным материалом вложения
        p &nbsp;
        p · С выбором широкого ассортимента пропитывающих композиций
        p &nbsp;
        p · С минимальным тиражом от 2000 шт.
        p &nbsp;
        p(style="font-size: 12px; font-weight: 700; font-family: 'Montserrat Alternates'") Наша компания является одной из немногих изготавливающих <br>малые тиражи влажных салфеток с логотипом.
        p &nbsp;
        p &nbsp;
        p &nbsp;
        p(style="font-size: 16px;font-weight: 600; font-family: 'Montserrat Alternates'")
            span(style="color: #3B065B") Размеры упаковки:
        p &nbsp;
        p 60*60 мм ( вложение 135*135 мм) &nbsp;&nbsp;&nbsp;&nbsp; 60*80 мм (вложение 135*145 мм) 
        p &nbsp;
        p 60*120 мм (вложение 135*175 мм) &nbsp;&nbsp;&nbsp; 60*100 мм (вложение 135*165 мм)
        p &nbsp;
        p &nbsp;
        img(src="./img/wet-servets.png", alt="")
    .checkout-types
        .checkout-types__features
            p.checkout-types__headliner Типы салфеток: 
            ul.weight-700
                li Освежающая
                li Косметическая с антибактериальным эффектом
                li Специализированная: <small class="weight-400"> для обуви, для оптики,<br> для снятия макияжа</small>
            p 
                span.checkout-types__headliner Сроки изготовления:  
                span от <span class="weight-600">14</span>   дней
        .checkout-types__action
            a(href="#").checkout-types__button Требования к макету
            .checkout-types__subscribtion * Разработка макета БЕСПЛАТНО
    .cart-default
        .cart-default__img
            img(src="./img/category.png")
        .cart-default__content
            .cart-default__text Вы можете приобрести влажную салфетку<br> в индивидуальной упаковке со <span class="weight-600">СТАНДАРТНЫМ</span> дизайном от <span class="weight-600">0,75</span> руб./шт.
            a.cart-default__button
                span Перейти
                svg
                     use(xlink:href="./img/sprites.svg#arrow-right")
    .checkout-form.checkout-form--sugar
        .title-secondary Форма расчета
        .checkout__group.checkout-form__info
            .checkout__fields.checkout__fields--small
                .checkout-field
                    .checkout-field__name Размер упаковки
                    .checkout-field__drop
                        .dropdown
                            .dropdown__header
                                div 60*60 мм
                                .dropdown__icon
                                    svg
                                        use(xlink:href="./img/sprites.svg#arrow-down")
                .checkout-field
                    .checkout-field__name  Тираж
                    .checkout-field__input
                        input(type="text" placeholder="2000 шт")
                .checkout-field
                    .checkout-field__name Цветность печати
                    .checkout-field__input.checkout-field__input--w-caution
                        input(type="text" placeholder="60мм*60мм*60мм")
                        .caution-icon
                            img(src="./img/svg/caution.svg")
                        .caution * белый цвет является основой Данный цвет не берется в расчет
            .checkout-attachment
                .checkout-attachment__title 
                    p <span class="font-montserat weight-600">Логотип:</span>
                    p прикрепите файл Вашего логотипа
                    p в формате <span class="font-montserat weight-600">AI. / PDF. / PNG.</span> или <span class="font-montserat weight-600">JPG</span>.
                .checkout-attachment__action
                    .checkout-attachment__button 
                        span Прикрепить
                        .checkout-attachment__button-plus +
                    .checkout-attachment__subscription *до 10 мб
        .checkout__fields
            .checkout-field
                .checkout-field__name Контактное лицо
                .checkout-field__drop
                    .dropdown
                        .dropdown__header
                            div Освежающая
                            .dropdown__icon
                                svg
                                    use(xlink:href="./img/sprites.svg#arrow-down")
            .checkout-field
                .checkout-field__name Номер телефона
                .checkout-field__drop
                    .dropdown
                        .dropdown__header
                            div Клубника
                            .dropdown__icon
                                svg
                                    use(xlink:href="./img/sprites.svg#arrow-down")
            .checkout-field
                .checkout-field__name Контактное лицо
                .checkout-field__input
                    input(type="text" placeholder="Иванов Иван Иванович")
            .checkout-field
                .checkout-field__name Номер телефона
                .checkout-field__input
                    input(type="text" placeholder="Введите номер")
            .checkout-field
                .checkout-field__name Электронная почта
                .checkout-field__input
                    input(type="text" placeholder="Введите E-mail")
            .checkout-field
                .checkout-field__name 
                .checkout-field__textarea
                    textarea( placeholder="Оставьте комментарий")
        .checkout__submit
            input(type="submit", value="Рассчитать")
